body {
    background-image: linear-gradient(to left,rgb(141, 128, 128),rgb(250, 249, 249));
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background: linear-gradient(to left, #2fdf9b, #147a25);
    color: #fff;
    text-align: center;
    padding: 1em 0;
}
.navbar {
    position: relaive;
    width: 100%;
    background: linear-gradient(to right, #2fdf9b, #147a25);
    padding: 1em 0;
    text-align: center;
    transition: width 1s;
}
.navbar ul{
    list-style: none;
    padding: 0%;
    margin: 0%;
    
}
.navbar a {
    padding: 1%;
    color: #fff;
    text-decoration: none;
    padding: 1rem 0 0;
    margin: 0 10px;
    display: inline;
}
nav li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    row-gap: 0.25rem;
    text-decoration: none;
    margin-left: 50%;
    width: fit-content;
}
a:hover{
    border: 0px solid white;
    background-color: rgb(29,67,68);
    padding: 0.5%;
    box-shadow: 2px 2px 3px white;
}
h1{
    font-family: anurati;
    text-shadow: 15px 10px 10px black;
}
section {
    display: grid;
    grid-template-columns: auto;
    padding: 2em;
}
.product1 {
    background-image: linear-gradient(to left ,#71ac9a ,#c7fe88,#ffbd9f);
    border: 1px solid #ccc;
    padding: 1em;
    margin: 1em;
    text-align: center;
}
.product2 {
    background-image: linear-gradient(to left ,#71ac9a ,#c7fe88,#ffbd9f);
    border: 1px solid #ccc;
    padding: 1em;
    margin: 1em;
    text-align: center;
}
.product3 {
    background-image: linear-gradient(to left ,#71ac9a ,#c7fe88,#ffbd9f);
    border: 1px solid #ccc;
    padding: 1em;
    margin: 1em;
    text-align: center;
}
.product4{
    background-image: linear-gradient(to left ,#71ac9a ,#c7fe88,#ffbd9f);
    border: 1px solid #ccc;
    padding: 1em;
    margin: 1em;
    text-align: center;
}
.product5 {
    background-image: linear-gradient(to left ,#71ac9a ,#c7fe88,#ffbd9f);
    border: 1px solid #ccc;
    padding: 1em;
    margin: 1em;
    text-align: center;
}
.product6 {
    background-image: linear-gradient(to left ,#71ac9a ,#c7fe88,#ffbd9f);
    border: 1px solid #ccc;
    padding: 1em;
    margin: 1em;
    text-align: center;
}
.product7{
    background-image: linear-gradient(to left ,#71ac9a ,#c7fe88,#ffbd9f);
    border: 1px solid #ccc;
    padding: 1em;
    margin: 1em;
    text-align: center;
}
.product8 {
    background-image: linear-gradient(to left ,#71ac9a ,#c7fe88,#ffbd9f);
    border: 1px solid #ccc;
    padding: 1em;
    margin: 1em;
    text-align: center;
}
.product9 {
    background-image: linear-gradient(to left ,#71ac9a ,#c7fe88,#ffbd9f);
    border: 1px solid #ccc;
    padding: 1em;
    margin: 1em;
    text-align: center;
}
.product10 {
    background-image: linear-gradient(to left ,#71ac9a ,#c7fe88,#ffbd9f);
    border: 1px solid #ccc;
    padding: 1em;
    margin: 1em;
    text-align: center;
}
.product11{
    background-image: linear-gradient(to left ,#71ac9a ,#c7fe88,#ffbd9f);
    border: 1px solid #ccc;
    padding: 1em;
    margin: 1em;
    text-align: center;
}
.product12 {
    background-image: linear-gradient(to left ,#71ac9a ,#c7fe88,#ffbd9f);
    border: 1px solid #ccc;
    padding: 1em;
    margin: 1em;
    text-align: center;
}
button{
    color: rgb(10, 10, 10);
    background-image:linear-gradient(to top, #71ac9a ,rgb(248, 247, 247)) ;
    border: 0px solid black;
    border-radius: 8px;
    box-shadow: 2px -5px 2px rgb(0, 8, 8);
}
li a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: flex;
    margin-bottom: 0;
    bottom: 0;
    width: 100%;
    height: 1em;
}
@media screen {

    .nav{
        display: block;
    }
}