*{
    margin: 0;
    padding: 0;
    background-size: cover;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: white;}
    .navbar a{
        width: fit-content;
        text-decoration: none;
        color: white;
        box-shadow: 3px 3px 4px gray;
    }
.logo{
    width: 30%;
    display: flex;
}
.logo img{
    width: 40%;
    border: 3px  solid white;
    border-radius: 50px;
}
.navbar{
   display: flex;
   align-items: center;
   display-items:center;
   position: sticky;
   top:0;
   cursor: pointer;
   
}

.nav-list{
    width: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;

}

.nav-list li{
    list-style: none;
    padding: 26px 30px;
    width: fit-content;
    

}
.nav-list li a:hover{
    text-decoration:none;
    color: grey;

}

.rightnav{
    
    width: 50%;
    text-align: right;
}

#search{
    padding: 5px;
    font-size: 18px;
    border: 2px solid grey;
    border-radius:9px;
}
.background{
    background: rgba(0,0,0,0.7) url('../img/website.jpg');
    background-size: cover;
    background-blend-mode: darken;
}

.firstSection{
   height: 100vh;
}
.box-main{
    display:flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
    max-width: 50%;
    margin: auto;
    height: 80%;

}

.firsthalf{
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.secondhalf{
    width: 30%;
}

.secondhalf img{
  width: 200%;
  border:2px solid white;
  border-radius: 40px;
  display:block;
  margin:auto;
}
    .text-small{
        font-size: 18px;
    }
    .btn{
        padding: 8px 20px;
        margin:7px 0;
        border: 2px solid white;
        background:none;
        color: aliceblue;
        cursor: pointer;
        border-radius: 5px;
    }
    .btn-sm{
        padding:6px 10px;
        vertical-align:middle;
    }
    .buttons a{
        text-decoration: none;
        color: whitesmoke;
    }
    button:hover{
        transform: scale(1.03);
    }
    h1{
        font-size: 50px;
        color: #07a1f4;
    animation: font 5s infinite;
    }
    @keyframes font {
        0%{
            filter: hue-rotate(0deg);
        }
        100%{
            filter: hue-rotate(360deg);
        }
        
    }
    img:hover{
        animation:image 1s ease-out ;
    }
    @keyframes image {
        0%{
            transform: scale(1);
        }
        100%{
            transform: scale(1.6);
        }
        0%{
            transform: scale(1);
        }
        
    }